<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.compact.yms.domain.analysis.AnalysisMapper">
    <select id="getFileLocation" parameterType="hashmap" resultType="camelmap" statementType="PREPARED">
    	SELECT B.LOTID AS LOT_ID,
    		   B.SEQ,
    		   REPLACE(B.REMOTEFILENAME, '\', '/') AS REMOTE_FILE_NAME,
    		   B.FILENAME AS FILE_NAME
		FROM STD_CALENDAR A,
		     YMS_FILEINDEX_10Y B,
		     POP_LOT C
		WHERE 1=1
		  AND A.FACTORYDATE BETWEEN #{startTime} AND #{endTime}
		  AND B.TKOUTTIME BETWEEN TO_DATE(A.STARTTIME,'YYYYMMDDHH24MISS') AND TO_DATE(A.ENDTIME,'YYYYMMDDHH24MISS')
		  <if test="stepSeqs != null">
		  	<foreach item="stepSeq" index="i" collection="stepSeqs" open="AND B.STEPSEQ IN (" separator="," close=")">
		  		#{stepSeq}
		  	</foreach>
		  </if>
		  <if test="productionTypes != null">
			<foreach item="productionType" index="i" collection="productionTypes" open="AND B.LOTTYPE IN (" separator="," close=")">
				#{productionType}
			</foreach>
		  </if>
		  <if test="divs != null">
			  <foreach item="div" index="i" collection="divs" open="AND B.DIV IN (" separator="," close=")">
			  	#{div}
			  </foreach>
		  </if>
		  <if test="productSpecGroups != null">
			  <foreach item="productSpecGroup" index="i" collection="productSpecGroups" open="AND B.PRODUCTSPECGROUP IN (" separator="," close=")">
			  	#{productSpecGroup}
			  </foreach>
		  </if>
		  <if test="productSpecNames != null">
			  <foreach item="productSpecName" index="i" collection="productSpecNames" open="AND B.PRODUCTSPECNAME IN (" separator="," close=")">
			  	#{productSpecName}
			  </foreach>
		  </if>
		  <if test="programs != null">
			  <foreach item="program" index="i" collection="programs" open="AND B.PROGRAM IN (" separator="," close=")">
			  	#{program}
			  </foreach>
		  </if>
		  AND B.LOTID = C.LOTNAME
		  <if test="lotIds != null">
			  <foreach item="lotId" index="i" collection="lotIds" open="AND B.LOTID IN (" separator="," close=")">
			  	#{lotId}
			  </foreach>
		  </if>
		  <if test="targets != null">
			  <foreach item="target" index="i" collection="targets" open="AND C.TARGET IN (" separator="," close=")">
			  	#{target}
			  </foreach>
		  </if>
		  <if test="chipSpecs != null">
			  <foreach item="chipSpec" index="i" collection="chipSpecs" open="AND C.CHIPSPEC IN (" separator="," close=")">
			  	#{chipSpec}
			  </foreach>
		  </if>
		  <if test="frameNames != null">
			  <foreach item="frameName" index="i" collection="frameNames" open="AND C.FRAMENAME IN (" separator="," close=")">
			  	#{frameName}
			  </foreach>
		  </if>
		ORDER BY B.LOTID, B.SEQ
    </select>
    <select id="getInfo" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.FileLocation" statementType="PREPARED">
    	SELECT B.STEPSEQ,
	         B.LOTID,
	         TO_CHAR(B.TKINTIME, 'YYYYMMDDHH24MISS') AS TKINTIME,
         	 TO_CHAR(B.TKOUTTIME, 'YYYYMMDDHH24MISS') AS TKOUTTIME,
	         B.EQPID || '(' || M.DESCRIPTION || ')' AS EQPID,
	         B.PRODUCTSPECNAME AS PARTID,
	         B.EMPNO,
	         B.PROGRAM,
	         B.LOTTYPE,
	         C.CHIPSPEC,
	         C.FRAMENAME,
	         C.TARGET,
	         C.MOLDMACHINENAME,
	         B.FMKEY,
	         REPLACE(B.REMOTEFILENAME, '\', '/') AS REMOTEFILENAME,
	         B.FILENAME
	    FROM STD_CALENDAR A,
	         YMS_FILEINDEX_10Y B,
	         POP_LOT C,
	         POP_MACHINESPEC M
		WHERE 1=1
		  AND A.FACTORYDATE BETWEEN #{startTime} AND #{endTime}
		  AND B.TKOUTTIME BETWEEN TO_DATE(A.STARTTIME,'YYYYMMDDHH24MISS') AND TO_DATE(A.ENDTIME,'YYYYMMDDHH24MISS')
		  AND B.LOTID = C.LOTNAME
		  AND B.EQPID = M.MACHINENAME
		  <if test="stepSeqs != null">
		  	<foreach item="stepSeq" index="i" collection="stepSeqs" open="AND B.STEPSEQ IN (" separator="," close=")">
		  		#{stepSeq}
		  	</foreach>
		  </if>
		  <if test="productionTypes != null">
			<foreach item="productionType" index="i" collection="productionTypes" open="AND B.LOTTYPE IN (" separator="," close=")">
				#{productionType}
			</foreach>
		  </if>
		  <if test="divs != null">
			  <foreach item="div" index="i" collection="divs" open="AND B.DIV IN (" separator="," close=")">
			  	#{div}
			  </foreach>
		  </if>
		  <if test="productSpecGroups != null">
			  <foreach item="productSpecGroup" index="i" collection="productSpecGroups" open="AND B.PRODUCTSPECGROUP IN (" separator="," close=")">
			  	#{productSpecGroup}
			  </foreach>
		  </if>
		  <if test="productSpecNames != null">
			  <foreach item="productSpecName" index="i" collection="productSpecNames" open="AND B.PRODUCTSPECNAME IN (" separator="," close=")">
			  	#{productSpecName}
			  </foreach>
		  </if>
		  <if test="programs != null">
			  <foreach item="program" index="i" collection="programs" open="AND B.PROGRAM IN (" separator="," close=")">
			  	#{program}
			  </foreach>
		  </if>
		  <if test="lotIds != null">
			  <foreach item="lotId" index="i" collection="lotIds" open="AND B.LOTID IN (" separator="," close=")">
			  	#{lotId}
			  </foreach>
		  </if>
		  <if test="targets != null">
			  <foreach item="target" index="i" collection="targets" open="AND C.TARGET IN (" separator="," close=")">
			  	#{target}
			  </foreach>
		  </if>
		  <if test="chipSpecs != null">
			  <foreach item="chipSpec" index="i" collection="chipSpecs" open="AND C.CHIPSPEC IN (" separator="," close=")">
			  	#{chipSpec}
			  </foreach>
		  </if>
		  <if test="frameNames != null">
			  <foreach item="frameName" index="i" collection="frameNames" open="AND C.FRAMENAME IN (" separator="," close=")">
			  	#{frameName}
			  </foreach>
		  </if>
		ORDER BY B.LOTID, B.SEQ
    </select>
    <select id="getMeasureItemNames" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.ItemName" statementType="PREPARED">
    	SELECT DISTINCT B.ITEMNAME
		  FROM STD_CALENDAR S, 
		       YMS_FILEINDEX_10Y A, 
		       YMS_MEASUREITEMNAME B,
		       POP_LOT L
		 WHERE S.FACTORYNAME = #{site}
		    AND S.FACTORYDATE BETWEEN #{startDate} AND #{endDate}
		    AND A.TKOUTTIME BETWEEN TO_DATE(S.STARTTIME,'YYYYMMDDHH24MISS') AND TO_DATE(S.ENDTIME,'YYYYMMDDHH24MISS')
		    AND A.LOTID = L.LOTNAME
		    AND A.FMKEY = B.FMKEY
		    <!--  AND B.ITEMNAME NOT IN (SELECT ENUMVALUE FROM POP_ENUMDEFVALUE WHERE ENUMNAME = 'CIE-XY-NAME')
		    AND B.ITEMNAME NOT IN (SELECT ENUMVALUE FROM POP_ENUMDEFVALUE WHERE ENUMNAME = 'CIE-BIN-NAME')
		    AND B.ITEMNAME NOT IN (SELECT ENUMVALUE FROM POP_ENUMDEFVALUE WHERE ENUMNAME = 'CIE-NONDATA-NAME')
		     -->
		    <if test="stepSeqs != null">
				<foreach item="stepSeq" index="i" collection="stepSeqs" open="AND A.STEPSEQ IN (" separator="," close=")">
					#{stepSeq}
				</foreach>
			</if>
			<if test="stepTypes != null">
				<foreach item="stepType" index="i" collection="stepTypes" open="AND A.STEPTYPE IN (" separator="," close=")">
					#{stepType}
				</foreach>
			</if>
			<if test="productionTypes != null">
				<foreach item="productionType" index="i" collection="productionTypes" open="AND A.LOTTYPE IN (" separator="," close=")">
					#{productionType}
				</foreach>
			</if>
			<if test="sites != null">
				<foreach item="site" index="i" collection="sites" open="AND S.FACTORYNAME IN (" separator="," close=")">
					#{site}
				</foreach>
			</if>
			<if test="divs != null">
				<foreach item="div" index="i" collection="divs" open="AND A.DIV IN (" separator="," close=")">
					#{div}
				</foreach>
			</if>
			<if test="productSpecGroups != null">
				<foreach item="productSpecGroup" index="i" collection="productSpecGroups" open="AND A.PRODUCTSPECGROUP IN (" separator="," close=")">
					#{productSpecGroup}
				</foreach>
			</if>
			<if test="productSpecNames != null">
				<foreach item="productSpecName" index="i" collection="productSpecNames" open="AND A.PRODUCTSPECNAME IN (" separator="," close=")">
					#{productSpecName}
				</foreach>
			</if>
			<if test="lotIds != null">
				<foreach item="lotId" index="i" collection="lotIds" open="AND A.LOTID IN (" separator="," close=")">
					#{lotId}
				</foreach>
			</if>
			<if test="lotText != null and lotText != ''">
				AND A.LOTID LIKE #{lotText} || '%'
			</if>
			<if test="machines != null">
				<foreach item="machine" index="i" collection="machines" open="AND A.EQPID IN (" separator="," close=")">
					#{machine}
				</foreach>
			</if>
			<if test="programs != null">
				<foreach item="program" index="i" collection="programs" open="AND A.PROGRAM IN (" separator="," close=")">
					#{program}
				</foreach>
			</if>
			<if test="targets != null">
				<foreach item="target" index="i" collection="targets" open="AND L.TARGET IN (" separator="," close=")">
					#{target}
				</foreach>
			</if>
			<if test="chipSpecs != null">
				<foreach item="chipSpec" index="i" collection="chipSpecs" open="AND L.CHIPSPEC IN (" separator="," close=")">
					#{chipSpec}
				</foreach>
			</if>
			<if test="intensities != null">
				<foreach item="intensity" index="i" collection="intensities" open="AND L.INTENSITY IN (" separator="," close=")">
					#{intensity}
				</foreach>
			</if>
			<if test="frameNames != null">
				<foreach item="frameName" index="i" collection="frameNames" open="AND L.FRAMENAME IN (" separator="," close=")">
					#{frameName}
				</foreach>
			</if>
			<if test="pls != null">
				<foreach item="pl" index="i" collection="pls" open="AND L.PL IN (" separator="," close=")">
					#{pl}
				</foreach>
			</if>
		    ORDER BY ITEMNAME ASC
    </select>
    <select id="getSeperatorCIE" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.SeperatorData" statementType="PREPARED">
    	SELECT MATNR AS PARTID, ZTEPG AS PROGRAM, CIE, X1, Y1, X2, Y2, X3, Y3, X4, Y4
		FROM POP_ERP_SEPERATOR_CIE
		WHERE WERKS = #{factoryName}
		  AND ZTEPG = #{program}
		  AND MATNR = #{productSpecName}
		ORDER BY CIE ASC
    </select>
    <select id="getCieXYItemName" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.CieNameInfo" statementType="PREPARED">
    	SELECT MAX(CASE WHEN DEFAULTFLAG = 'X' THEN ENUMVALUE END) CIEX,
		       MAX(CASE WHEN DEFAULTFLAG = 'Y' THEN ENUMVALUE END) CIEY
		FROM POP_ENUMDEFVALUE
		WHERE ENUMNAME = 'CIE-XY-NAME'
		  AND 
		  <foreach item="cieX" index="i" collection="cieXArr" open="(ENUMVALUE IN (" separator="," close=")">
			  #{cieX}
		  </foreach>
		  <foreach item="cieY" index="i" collection="cieYArr" open="OR ENUMVALUE IN (" separator="," close=")">
			  #{cieY}
		  </foreach>
          )
    </select>
    <insert id="addHistory" parameterType="hashmap" statementType="PREPARED">
    	INSERT INTO YMS_ANAL_HISTORY (KEY, SAVETYPE, FACTORYNAME, DIV, STARTDT, ENDDT, STEPSEQ, LOTTYPE, PRODUCTSPECGROUP, PRODUCTSPECNAME, PROGRAM, TARGET, CHIPSPEC, FRAMENAME, INTENSITY, PL, LOTID, SUBFRAMENAME, CREATETIME, FILEPATH, BYTES, USERID)
    	VALUES (#{key}, #{saveType}, #{factoryName}, #{div}, #{startDate}, #{endDate}, #{stepSeq}, #{lotType}, #{productSpecGroup}, #{productSpecName}, #{program}, #{target}, #{chipSpec}, #{frameName}, #{intensity}, #{pl}, #{lotId}, #{subFrameName}, SYSDATE, #{filePath}, ${bytes}, #{userId})
    </insert>
    <select id="getHistory" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.RunHistoryData" statementType="PREPARED">
	    SELECT KEY,
	       COMMENTS,
	       FACTORYNAME,
	       DIV,
	       STARTDT,
	       ENDDT,
	       STEPSEQ,
	       LOTTYPE,
	       PRODUCTSPECGROUP,
	       PRODUCTSPECNAME,
	       PROGRAM,
	       TARGET,
	       CHIPSPEC,
	       FRAMENAME,
	       INTENSITY,
	       PL,
	       LOTID,
	       USERID,
	       TO_CHAR (CREATETIME, 'YYYY-MM-DD HH24:MI:SS') AS CREATETIME,
	       TO_CHAR(BYTES, 'FM999,999,999,999') AS BYTES
	  FROM YMS_ANAL_HISTORY
	 WHERE SAVETYPE = #{type}
	   AND DELYN = 'N'
	 <if test='userId != "yms"'>
	 	AND (KEY IN (SELECT KEY FROM YMS_ANAL_HISTORY_SHARE WHERE USERID = #{userId}) OR USERID = #{userId})
	 </if>
	 <choose>
	 	<when test='optSaveDate == "1"'>
	 		AND TRUNC(CREATETIME) BETWEEN #{startDate} AND #{endDate}
	 	</when>
	 	<otherwise>
	 		<![CDATA[
	 		AND STARTDT >= #{startDate}
	 		AND ENDDT <= #{endDate}
	 		]]>
	 	</otherwise>
	 </choose>
	 <if test="cond1 != null and cond1 != ''">
	 	AND ${cond1Column} LIKE '%' || #{cond1Value} || '%'
	 </if>
	 <if test="cond2 != null and cond2 != ''">
	 	AND ${cond2Column} LIKE '%' || #{cond2Value} || '%'
	 </if>
	 <if test="cond3 != null and cond3 != ''">
	 	AND ${cond3Column} LIKE '%' || #{cond3Value} || '%'
	 </if>
	 <if test="cond4 != null and cond4 != ''">
	 	AND ${cond4Column} LIKE '%' || #{cond4Value} || '%'
	 </if>
	 <if test="cond5 != null and cond5 != ''">
	 	AND ${cond5Column} LIKE '%' || #{cond5Value} || '%'
	 </if>
	 <if test="cond6 != null and cond6 != ''">
	 	AND ${cond6Column} LIKE '%' || #{cond6Value} || '%'
	 </if>
	 <if test="cond7 != null and cond7 != ''">
	 	AND ${cond7Column} LIKE '%' || #{cond7Value} || '%'
	 </if>
	 <if test="cond8 != null and cond8 != ''">
	 	AND ${cond8Column} LIKE '%' || #{cond8Value} || '%'
	 </if>
    </select>
    <select id="getHistoryOnKey" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.RunHistoryData" statementType="PREPARED">
    	SELECT KEY,
	       FACTORYNAME,
	       DIV,
	       STARTDT,
	       ENDDT,
	       STEPSEQ,
	       LOTTYPE,
	       PRODUCTSPECGROUP,
	       PRODUCTSPECNAME,
	       PROGRAM,
	       TARGET,
	       CHIPSPEC,
	       FRAMENAME,
	       INTENSITY,
	       PL,
	       LOTID,
	       USERID,
	       FILEPATH,
	       TO_CHAR (CREATETIME, 'YYYY-MM-DD HH24:MI:SS') AS CREATETIME,
	       TO_CHAR(BYTES, 'FM999,999,999,999') AS BYTES,
	       COMMENTS
	  FROM YMS_ANAL_HISTORY
	  <where>
	  	<if test='key != null and key != ""'>
	  		AND KEY = #{key}
	  	</if>
	  	<if test='userId != null and userId != ""'>
	  		AND USERID = #{userId}
	  	</if>
	  </where>
    </select>
    <update id="setHistoryMemo" parameterType="hashmap" statementType="PREPARED">
    	UPDATE YMS_ANAL_HISTORY
    	SET COMMENTS = #{comments}
    	WHERE KEY = #{key}
    </update>
    <select id="getAllUserListForShare" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.ShareUserListData" statementType="PREPARED">
    	SELECT USERID, USERNAME, DEPARTMENT_DESC AS DEPARTMENTNAME
    	FROM POP_USERPROFILE
    	WHERE STATUS IN ('1', '2')
    	  AND YMS_USE = 'Y'
    	  <if test='filter != null and filter != ""'>
    	  	AND (USERID LIKE '%' || #{filter} || '%'
    	  	 OR USERNAME LIKE '%' || #{filter} || '%'
    	  	 OR DEPARTMENT_DESC LIKE '%' || #{filter} || '%')
    	  </if>
		ORDER BY DEPARTMENT, USERID ASC
    </select>
    <select id="getShareUserLists" parameterType="hashmap" resultType="com.compact.yms.domain.analysis.DTO.ShareUserListData" statementType="PREPARED">
    	SELECT A.USERID, B.USERNAME, B.DEPARTMENT_DESC AS DEPARTMENTNAME
    	FROM YMS_ANAL_HISTORY_SHARE A,
    	     POP_USERPROFILE B
		WHERE A.KEY = #{key}
		  AND A.USERID = B.USERID
		ORDER BY B.DEPARTMENT, A.USERID ASC
    </select>
    <delete id="deleteHistoryShare" parameterType="hashmap" statementType="PREPARED">
    	DELETE YMS_ANAL_HISTORY_SHARE
    	WHERE KEY = #{key}
    	<if test='userId != null and userId != ""'>
    		AND USERID = #{userId}
    	</if>
    </delete>
    <insert id="shareHistory" parameterType="hashmap" statementType="PREPARED">
    	MERGE INTO YMS_ANAL_HISTORY_SHARE A
    	USING DUAL B
    	ON (A.KEY = #{key}
    	AND A.USERID = #{userId})
    	WHEN NOT MATCHED THEN
    	INSERT (KEY, USERID, CREATETIME, UPDATETIME)
    	VALUES (#{key}, #{userId}, SYSDATE, SYSDATE)
    </insert>
    <update id="setShareHistoryFlag" parameterType="hashmap" statementType="PREPARED">
    	UPDATE YMS_ANAL_HISTORY
    	SET SHAREYN =  #{shared}
    	WHERE KEY = #{key}
    </update>
    <update id="deleteHistory" parameterType="hashmap" statementType="PREPARED">
    	UPDATE YMS_ANAL_HISTORY
    	SET DELYN = #{delYn}
    	WHERE KEY = #{key}
    </update>
</mapper>