<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.compact.base.domain.analysis.AnalysisMapper">
    <select id="getFileLocation" parameterType="hashmap" resultType="camelmap" statementType="PREPARED">
    	SELECT B.LOTID AS LOT_ID,
    		   B.SEQ,
    		   B.REMOTEFILENAME AS REMOTE_FILE_NAME,
    		   B.FILENAME AS FILE_NAME
		FROM STD_CALENDAR A,
		     YMS_FILEINDEX_10Y B,
		     POP_LOT C
		WHERE 1=1
		  AND A.FACTORYDATE BETWEEN #{startTime} AND #{endTime}
		  AND B.TKOUTTIME BETWEEN TO_DATE(A.STARTTIME,'YYYYMMDDHH24MISS') AND TO_DATE(A.ENDTIME,'YYYYMMDDHH24MISS')
		  <if test="stepSeqs != null">
		  	<foreach item="stepSeq" index="i" collection="stepSeqs" open="AND B.STEPSEQ IN (" separator="," close=")">
		  		#{stepSeq}
		  	</foreach>
		  </if>
		  AND B.DIV = #{div}
		  <if test="productSpecGroups != null">
			  <foreach item="productSpecGroup" index="i" collection="productSpecGroups" open="AND B.PRODUCTSPECGROUP IN (" separator="," close=")">
			  	#{productSpecGroup}
			  </foreach>
		  </if>
		  <if test="productSpecNames != null">
			  <foreach item="productSpecName" index="i" collection="productSpecNames" open="AND B.PRODUCTSPECNAME IN (" separator="," close=")">
			  	#{productSpecName}
			  </foreach>
		  </if>
		  <if test="programs != null">
			  <foreach item="program" index="i" collection="programs" open="AND B.PROGRAM IN (" separator="," close=")">
			  	#{program}
			  </foreach>
		  </if>
		  AND B.LOTID = C.LOTNAME
		  <if test="lotIds != null">
			  <foreach item="lotId" index="i" collection="lotIds" open="AND B.LOTID IN (" separator="," close=")">
			  	#{lotId}
			  </foreach>
		  </if>
		  <if test="targets != null">
			  <foreach item="target" index="i" collection="targets" open="AND C.TARGET IN (" separator="," close=")">
			  	#{target}
			  </foreach>
		  </if>
		  <if test="chipSpecs != null">
			  <foreach item="chipSpec" index="i" collection="chipSpecs" open="AND C.CHIPSPEC IN (" separator="," close=")">
			  	#{chipSpec}
			  </foreach>
		  </if>
		  <if test="frameNames != null">
			  <foreach item="frameName" index="i" collection="frameNames" open="AND C.FRAMENAME IN (" separator="," close=")">
			  	#{frameName}
			  </foreach>
		  </if>
		ORDER BY B.LOTID, B.SEQ
    </select>
    
</mapper>