<div>
	<p class="sub-title">CL선 이탈(<!--@{DATA-COUNT}-->건)</p>
	<table class="ctq-ng-table">
		<thead>
			<tr>
				<td>No</td>
				<td>라인</td>
				<td>제품군</td>
				<td>제품코드</td>
				<td>제품명</td>
				<td>시험위치</td>
				<td>시험항목</td>
				<td>데이터기간</td>
				<td>LCL</td>
				<td>CL</td>
				<td>UCL</td>
				<td>Avg</td>
				<td>VALUE1</td>
				<td>VALUE2</td>
				<td>VALUE3</td>
				<td>VALUE4</td>
				<td>VALUE5</td>
				<td>VALUE6</td>
				<td>VALUE7</td>
				<td>VALUE8</td>
				<td>VALUE9</td>
				<td>VALUE10</td>
				<td>VALUE11</td>
				<td>VALUE12</td>
				<td>VALUE13</td>
				<td>VALUE14</td>
				<td>VALUE15</td>
				<td>VALUE16</td>
				<td>VALUE17</td>
				<td>VALUE18</td>
				<td>VALUE19</td>
				<td>VALUE20</td>
			</tr>
		</thead>
		<tbody>
			<!--@{TABLE-DATA}-->
		</tbody>
	</table>
</div>