<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.compact.pop.domain.operation.OperationMapper">
    <select id="getProcessOperation" parameterType="hashmap" resultType="camelmap" statementType="PREPARED">
    	SELECT * 
		FROM YMS_PROCESSOPERATIONSPEC_USER
    </select>
    <insert id="addProcessOperation" parameterType="hashmap" statementType="PREPARED">
    	${insertSql}
    </insert>
    <select id="getCodeList" parameterType="hashmap" resultType="camelmap" statementType="PREPARED">
    	SELECT * 
		FROM TB_CODE_LIST
		WHERE GROUP_CODE = #{groupCd}
    </select>
</mapper>